{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
	<div class="container-fluid">
	  <div class="navbar-header" style="display: flex;">
		<a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
	  </div>
	</div>
</nav>

<div class="container">
	<h1>Register</h1>
	<form method="POST" action=" ">
		{% csrf_token %}
		{{ form3|crispy }}     
		<!-- <input type="submit" value="Register"><a href="{% url 'login' %}"></a>                -->
		<button class="btn btn-primary" type="submit">Register</button>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>

{% endblock %}